:root {
  --color: #000;
  --header-color: #dbd9d9;
  --background-image: linear-gradient(to right, #fbfbfb, #3b3939);
}

.dark-theme {
  --color: #fff;
  --header-color: #1f1f1f;
  --background-image: linear-gradient(to right, #3b3939, #1f1f1f);
}

body {
  margin: 0;
  background-image: var(--background-image);
  color: var(--color);
}

a:link,
a:visited {
  text-decoration: none;
}

.chill-guy {
  display: flex;
  flex-direction: column;
}

.chill-picture {
  align-self: center;
  width: 80%;
  box-sizing: border-box;
  object-fit: cover;
}

.chill-text {
  align-self: center;
}
